<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a class="active-menu" href="/"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-sitemap"></i> Machines<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/3dprinters">3D-Printers</a>
                    </li>
                    <li>
                        <a href="#">Laser Cutters</a>
                    </li>
                    <li>
                        <a href="#">Wood-Cutters</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</nav>
<!-- /. NAV SIDE  -->
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                   Dashboard
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->

